body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}
.testimonial-container{
  display: flex;
  justify-content: center;
}
.testimonial {
  display: flex;
  justify-content: center;
  width: 75vw;
  max-width: 530px;
  align-items: center;
  justify-content: space-between;
}


.testimonial-text {
  flex: 1;
  margin-right: 20px;
  position: relative;

}

.testimonial-text::before {
  content: "";
  position: absolute;
  left: -20px;
  top:0;
  height: 100%;
  width: 1px;
  background-color: #fa5b26;
}

.circle {
  position: relative;
}

.circle::before {
content: '“';
text-align: center;
color: white;
border: 2px solid white;
z-index: 1;
font-size: 42px;
position: absolute;
top: -5px;
left: -34px; 
width: 27px; 
height: 27px; 
border-radius: 50%;
background-color: #fa5b26;
}

.circle::after {
content: '';
position: absolute;
bottom: 0;
left: -23.6px;
width: 8px;
height: 8px;
border-radius: 50%;
background-color: #fa5b26;
}

.more {
  padding: 10px 20px;
  font-weight: 900;
  border-radius: 2px;
  background-color: #0a9af9;
  color: white;
  cursor: pointer;
}
.more:hover {
  background-color: #0774bc
}
.citation {
  color: #3d434c;
  font-size: 13px;
  
}

  /* Mobile Styles */
  @media (max-width: 550px) {
    .circle::after {
      bottom: 58;

    }
    .testimonial {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75vw;
      max-width: 530px;
      align-items: center;
      justify-content: space-between;
    }

    .more {
        margin-top: 20px;
    }
  }